.film-header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  align-items: flex-start;
  grid-area: film-header;
  align-self: end;
  grid-column-start: 2;
  grid-column-end: 4;
  position: relative;

  &:hover {
    cursor: default;
  }
}

.name {
  position: absolute;
  box-sizing: border-box;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  margin-top: 70px;
  display: flex;
  max-width: 450px;
  line-height: 1.4;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.genre {
  box-sizing: border-box;
  padding-right: 25px;
  font-size: 18px;
}

.duration {
  font-size: 18px;

  &::before {
    padding-right: 20px;
    content: '|';
  }
}

@media only screen and (max-width: 850px) {
  .name {
    font-size: 35px;
  }

  .genre {
    font-size: 13px;
  }

  .duration {
    font-size: 13px !important;
  }
}
