.film-header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  align-items: flex-start;
  grid-area: film-header;
  align-self: end;
  grid-column-start: 2;
  grid-column-end: 4;
  position: relative;
  min-height: 100px;

  &:hover {
    cursor: default;
  }
}

.name {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  word-spacing: 20px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 850px) {
  .name {
    font-size: 35px;
  }

  .info {
    font-size: 16px;
  }
}
