@import 'styles/palette';

.search {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 40px;
  grid-area: search;
  align-self: center;
  justify-self: end;

  .search-button {
    position: absolute;
    top: 3px;
    right: 5px;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    padding: 5px;
    border: none;
    background: none;
    fill: #fff;
    transition: right 0.45s ease;
    color: none;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .search-field {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 4px;
    background: none;
    font-size: 18px;
    transition: all 0.45s ease;

    &.searchNotValid {
      color: $RED;
      border-color: $RED;

      & ~ .search-button {
        fill: $RED;
      }

      &::placeholder {
        color: $RED;
      }
    }

    &::-webkit-search-cancel-button {
      display: none;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 15px 2px $WHITE;
    }

    &::placeholder {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 600px) {
  .search {
    grid-column-start: 2;
    grid-column-end: 4;
    max-width: none;
  }
}
