@import './fonts.scss';
@import './palette.scss';

* {
  font-family: 'Roboto';
  font-weight: 400;
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $LIGHTER_GREY;
}
