@import './reset.scss';
@import './fonts.scss';
@import './palette.scss';

* {
  font-family: 'Roboto';
  font-weight: 400;
  color: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: $lighter_grey;
}
