@import './reset.scss';
@import './fonts.scss';

* {
  font-family: 'Roboto';
  font-weight: 400;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  box-sizing: border-box;
  min-height: 100vh;
  background: #191915;
}
