{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack/development.js"
      }
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-unused-vars": 0
  }
}
