@import 'styles/palette';

.not-found {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  align-items: center;
  justify-content: space-between;
}

.text {
  margin: 30vh 0;
  text-align: center;
}

.header {
  color: $LIGHT_BLUE;
  font-size: 40px;
  font-weight: 700;
}

.description {
  color: $GREY;
  font-size: 18px;
}

.link {
  color: $DARK_GREY;
  font-size: 16px;
  padding: 20px 0;
  box-sizing: border-box;
  display: block;
  text-decoration: underline;
}
