@import 'styles/palette';

.movies-list-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.movies-list {
  padding: 40px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  background: $lighter_grey;
}

.menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px $light_grey solid;
}

.list-controls {
  display: flex;
}

.menu-links {
  display: flex;
  color: $light_blue;
  align-items: center;
}

.menu-link {
  padding: 8px 10px;
  box-sizing: border-box;

  &:first-child {
    padding-left: 0;
  }
}

.active-link {
  border-bottom: 2px $light_blue solid;
  border-top: 2px $lighter_grey solid;
  box-sizing: border-box;
}

.types-view {
  display: flex;
  justify-content: space-between;
  width: 55px;
  height: 25px;
}

.type-view {
  transition: all 0.45s ease;
  width: 25px;
  height: 25px;
  fill: $light_grey;

  &:hover {
    cursor: pointer;
  }
}

.active-type-view {
  fill: $light_blue;
}
