@import 'styles/palette';

@mixin setHover() {
  cursor: pointer;
  border: 1px solid $lighter_blue;
  background: $lighter_blue;
}

.button {
  min-width: 130px;
  padding: 10px;
  transition: all 0.45s ease;
  border: 1px solid $light_blue;
  border-radius: 3px;
  background: $light_blue;
  font-size: 16px;

  &:focus {
    outline: none;
  }

  &:hover {
    @include setHover();
  }
}

.transparent {
  border: 1px solid $white;
  background: none;

  &:hover {
    @include setHover();
  }
}
