@import 'styles/palette';

.description {
  position: absolute;
  top: -215px;
  right: 0;
  overflow: auto;
  box-sizing: border-box;
  width: 300px;
  max-height: 180px;
  padding: 13px;
  background: rgba(0, 0, 0, 0.75);
  line-height: 2;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .description {
    top: -190px;
  }
}
