@import 'styles/palette';

.select {
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 3px;
  color: $LIGHT_BLUE;
  position: relative;
  width: 200px;
  transition: all 0.45s ease;

  &:hover {
    cursor: pointer;
    background: $WHITE;
  }
}

.arrow {
  width: 25px;
  height: 25px;
  fill: $LIGHT_BLUE;
  transition: transform 0.45s ease;
}

.main {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  &:hover {
    color: $LIGHTER_BLUE;
    fill: $LIGHTER_BLUE;
  }
}

.active:not(:hover) {
  background: $LIGHTER_BLUE;
  color: white;

  .arrow {
    fill: $WHITE;
  }
}

.value {
  box-sizing: border-box;
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 155px;
}

.item-link {
  text-decoration: none;
}

.item {
  width: 100%;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: background 0.45s ease, color 0.45s ease;
  line-height: 1.4;
  text-decoration: none;
  color: $LIGHTER_BLUE;

  &:hover {
    background: #f1f1f1;
    color: $LIGHTER_BLUE;
  }
}

.arrow-open {
  transform: rotate(180deg);
}

.list {
  position: absolute;
  width: 200px;
  box-sizing: border-box;
  background: $WHITE;
  top: 30px;
  left: 0;
  height: 0;
  transition: all 0.45s ease;
  overflow: auto;
  z-index: -1;
  border-radius: 3px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.list-open {
  padding: 10px 0 0;
  top: 30px;
  z-index: 200;
  box-sizing: border-box;
  height: 170px;
  color: $LIGHTER_BLUE;
}
