@import 'styles/palette';

.menu {
  display: flex;
  flex-direction: row;
  border-bottom: 1px $LIGHT_GREY solid;
  position: relative;
  flex-wrap: wrap-reverse;
}

.sections {
  display: flex;
  list-style: none;
  color: $LIGHT_BLUE;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.select {
  justify-self: start;
  align-self: flex-start;
}

.section {
  box-sizing: border-box;
  margin: 0 5px 0 0;
  padding: 8px 10px;
  transition: background 0.45s ease;
  white-space: nowrap;

  &:hover {
    background: $WHITE;
  }
}

.active-link {
  box-sizing: border-box;
  border-top: 2px $LIGHTER_GREY solid;
  border-bottom: 2px $LIGHT_BLUE solid;
}

.types-view {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.type-view {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  transition: all 0.45s ease;
  fill: $LIGHT_GREY;

  &:hover {
    cursor: pointer;
  }
}

.active-type-view {
  fill: $LIGHT_BLUE;
}

@media only screen and (max-width: 650px) {
  .sections {
    min-width: 100%;
    justify-content: space-between;
  }
}
