@import 'styles/palette';

.rating {
  display: flex;
  box-sizing: border-box;
  width: 250px;
  padding: 20px 0;
  justify-content: space-between;
}

.stars {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.star {
  width: 30px;
  height: 30px;
  fill: $white;
}

.active {
  fill: $light_blue;
}

.value-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: default;
  }
}

.value {
  box-sizing: border-box;
  padding: 3px 6px;
  border: 1px solid #09ade3;
  border-radius: 2px;
  font-size: 16px;
}
