@import 'styles/palette';

.rating {
  display: flex;
  box-sizing: border-box;
  width: 225px;
  padding: 20px 0;
  justify-content: space-between;
  grid-area: rating;
  align-self: center;
}

.stars {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.star {
  width: 35px;
  height: 30px;
  z-index: 2;

  &::before {
    content: '★';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    font-size: 30px;
  }
}

.value {
  height: 100%;
  width: 100%;
  background: $light_blue;
}

.on-hover, .active {
  color: $light_blue;
}

.rating-number-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;

  &:hover {
    cursor: default;
  }
}

.rating-number {
  box-sizing: border-box;
  padding: 3px 6px;
  border: 1px solid #09ade3;
  border-radius: 2px;
  font-size: 16px;
}
